.card {
  &.-container {
    display: flex;
    flex-direction: row;
    background: #1a36a8;
    padding: 8vh 0px;
  }
  &.-main {
    padding: 8vh;
    animation: slideRight 2s ease-out;
  }
  &.-tittle {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    max-width: 34vw;
    .sub-tittle {
      max-width: 20vw;
      height: 5vh;
    }
    .description {
      padding: 15px 0px;
    }
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  .card {
    &.-container {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  .card {
    &.-main {
      padding: 1vw;
    }

    &.-tittle {
      max-width: 58vw;
      .sub-tittle {
        max-width: 44vw;
        height: 4vh;
      }
    }
  }
}
