<div class="prom -container fl row jctr">
  <div class="prom -main fl col center">
    <div class="prom tittle">
      <h2 class="pink">Registrate y obten</h2>
    </div>
    <div class="promo sub-tittle fl">
      <div class="sub-tittle">
        <p class="per pink">10%</p>
      </div>
      <div class="cyber fl col">
        <p class="fz">En tu primera compra de</p>
        <h2 class="pink fz">CYBER DAYS</h2>
      </div>
    </div>
    <div class="description fl col center">
      <p class="ctr">
        Aplicamos el descuento mediante un código que se te eviará a tu correo
        registrado.
      </p>
      <p>Cupón válido del 28 al 30 de marzo.</p>
      <p>*Aplican términos y condiciones</p>
    </div>
  </div>
</div>
