<div>
  <div>
    <app-header />
    <h4>Nosotros</h4>
    <p>Somos Más uno</p>
  </div>
  <div>
    <h4>Te informamos</h4>
    <p>Preguntas frecuentes</p>
    <p>Términos y condiciones</p>
    <p>Medios de pago</p>
    <p>Políticas de entrega</p>
    <p>Libro de reclamaciones</p>
    <div>
      <img
        src="https://s3-alpha-sig.figma.com/img/ae0a/6c7f/a5f4414cfa8f2f3da91da84e5e66ce2b?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J~IP5kbyvNgV9i8rwsXD-oSUtrw2hvl~AAil58bd3QzMqcfpCnfwpoHURklu6H4zi6qrfn05sGDMHPMUHtXCYp6XrHyeArfatZZUFBgcbbH8RuPi98nviFKLPk4INM8QU-9NqmKMMo038HLyClAh-S6RpmHvU0YxYPyXqYx62-mRBdh7vZfbqJ67dksBZc0ujeHg57UvfZkzp2i91ikyPsx6qKrn-6DfY1OndfxmFDRSmft1NMMG2P1yy0Dx1Pv8TYYFz-2kQiWJuBp8Vq8F-GYQDuVOZpXTaZfyXiC~tgQJtwrQvwrP2MDaoycPE8m9qI2yZPGowd6VYMtM73LK4g__"
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div>
    <h3>Contáctanos</h3>
    <div>213-5300</div>
    <div>
      <div>F</div>
      <div>T</div>
      <div>L</div>
    </div>
    <p>© 2024 MÁS UNO Lima - Perú</p>
  </div>
</div>
