.discount {
  &.container {
    padding: 8vh;
    .line {
      width: 100%;
      height: 2px;
    }
  }
  &.main {
    .title {
      gap: 25px;
      padding: 25px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .step-container {
    display: flex;
    overflow-x: auto;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .step-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .step-container > * {
    scroll-snap-align: center;
    flex: 0 0 100%;
  }
}
