<div class="discount container">
  <div class=" discount main fl col ctr">
    <div class="line blue"></div>
    <div class="tittle fl col">
      <h3 class="h3-blue">¿Como obtengo el descuento por Cyber Days?</h3>
      <div class="red -line"></div>
      <p>
        Para adquirir nuestro descuento especial por Cyber Days sigue los
        siguientes pasos
      </p>
    </div>
    <div class="step fl">
      <app-discount-step-1 />
      <app-discount-step-2 />
      <app-discount-step-3 />
    </div>
  </div>
</div>