<app-header></app-header>
<div>
  <div class="php">
    <img
      class="image"
      src="https://s3-alpha-sig.figma.com/img/0083/5090/b4eda564728bb2896340b28ef1f11480?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=g~gkp1b8kaJ8XPVXTAvl7PVm7iZ6c12WfXDWhm7l8r2ctnL~Kp1XyybfrzzSiqlCR8Rt6S0TPClr7pPe14e~qnTGd2QxwXrIJffwL2I118m8fugDRAtSzHTKJMMB5dO9sB3JQHhPx39u9vnQFnglJ9O7t0rJHs-LmE7J9KXl44K81N7uj065hrWI~zeaNWDX4yzrCSZTTw~8zo94Kju0PjiVQtIK5RAJbGcic2he5NTWNFPlGspxaDm2Wxs1eKDFDQidjCzfhEPCU0KBEc22F8IU7Uj3M-7efRPQZQN~KRCZe9P3WTuuZ9j0UsBx5y4pSj94tgTncXmkF3P4OTr3EQ__"
      alt=""
      srcset=""
    />
  </div>
  <div class="php container">
    <div class="php main fl col gap">
      <div>
        <h3 class="h3-blue">¿Qué es PHP y cómo funciona?</h3>
      </div>
      <div>
        <p>
          PHP es un lenguaje de programación destinado a desarrollar
          aplicaciones para la web y crear páginas web, favoreciendo la conexión
          entre los servidores y la interfaz de usuario. Entre los factores que
          hicieron que PHP se volviera tan popular, se destaca el hecho de que
          es de código abierto. Esto significa que cualquiera puede hacer
          cambios en su estructura. En la práctica, esto representa dos cosas
          importantes:
        </p>
      </div>
      <div>
        <p>
          1. Es de código abierto, no hay restricciones de uso vinculadas a los
          derechos. El usuario puede usar PHP para programar en cualquier
          proyecto y comercializarlo sin problemas.
        </p>
        <p>
          2. Está en constante perfeccionamiento, gracias a una comunidad de
          desarrolladores proactiva y comprometida.
        </p>
      </div>
      <div class="fl col gap">
        <h3 class="h3-blue">La función principal de PHP, en la práctica</h3>

        <p>
          El PHP generalmente es definido como un lenguaje del lado del
          servidor. Esto significa que se aplica en la programación que tiene
          lugar en el servidor web responsable de ejecutar la aplicación o, más
          a menudo, en un sitio web.
        </p>
        <p>
          Este trabajo previo permite cargar los elementos de una página antes
          de mostrarlos al usuario que accede a un sitio web, por ejemplo.
        </p>
        <p>
          El código PHP se ejecuta en el servidor que, al leer los comandos,
          puede activar todos los elementos funcionales y la interfaz visual del
          sitio web.
        </p>
        <p>
          Quizás, la aplicación principal del lenguaje PHP, cuando hablamos de
          la web, es estructurar sitios web en WordPress.
        </p>
        <p>
          La simplicidad para aprender a usarlo y el desarrollo del código
          abierto le facilita el trabajo a los profesionales que eligen
          estructurar sitios web utilizando la plataforma, pues a medida que
          avanzan las configuraciones y ediciones se simplifican aún más.
        </p>
      </div>
    </div>
    <div class="fl col gap">
      <div class="line blue"></div>
      <h3 class="h3-blue">Galeria</h3>
      <app-gallery></app-gallery>
    </div>
  </div>
  <app-footer />
</div>
