<div class="slider-container">
  <app-slide
    *ngFor="let slide of slides; let idx = index"
    [content]="slide.content"
    [image]="slide.image"
    [route]="slide.route"
    [isActive]="idx === currentSlideIndex"
  ></app-slide>

  <div class="controls">
    <button class="gray" (click)="prevSlide()">&#10094;</button>
    <button (click)="nextSlide()">&#10095;</button>
  </div>

  <app-dots [count]="slides.length" 
            [currentIndex]="currentSlideIndex" 
            (dotClick)="goToSlide($event)">
  </app-dots>
</div>
