* {
  margin: 0;
  font-family: Futura Std;
}
h1 {
  font-weight: 600;
  font-size: 34px;
}
h3 {
  font-weight: 400;
  font-size: 20px;
  &.h3-blue {
    color: #1a36a8;
    font-size: 32px;
    font-weight: 700;
  }
  &.h3-red {
    color: #c12a21;
    font-size: 32px;
    font-weight: 700;
  }
}
.fl {
  display: flex;
  &.center {
    align-items: center;
  }
  &.row {
    flex-direction: row;
  }
  &.col {
    flex-direction: column;
  }
}
.jctr {
  justify-content: center;
}
.ctr {
  text-align: center;
}
.blue {
  background-color: #1a36a8;

  &.circle {
    border-radius: 100%;
    width: 230px;
    height: 230px;
    align-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 5px solid #808080;
  }

  &.circle:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  button:hover {
    background-color: #add8e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #add8e6;
  }
}

.red {
  background-color: #f2304b;
  &.-line {
    width: 30%;
    height: 2px;
    align-self: center;
  }
}
.gray {
  color: #bababa;
}
.dgray {
  color: #b7b1a9;
  font-size: 18px;
}
.step-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.container {
  padding: 8vh;
  .line {
    width: 100%;
    height: 2px;
  }
}
button {
  height: 8vh;
  width: 15vw;
  color: #ffffff;
  border: 1px solid #808080;
  border-radius: 15px;
}
button:hover {
  background-color: #add8e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #add8e6;
}

.gap {
  gap: 3vh;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInScroll {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .container {
    padding: 2vh;
  }
  button {
    height: 5vh;
    width: 40vw;
  }
}
.mv{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mv:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.mr{
  transition: transform 0.5s ease-in-out;
}
.mr:hover {
  transform: rotate(360deg);
}