<app-header></app-header>
<div>
  <div>
    <img
      src="https://s3-alpha-sig.figma.com/img/f37a/0b6e/cc51d2bde758852995089075f5689f23?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lnvkJxHT-kiye5bm6hfhcXpH0eLwaJ-7cXdQIifgY1lT5wfFL1FkSfUiu0meJO9LSuaQo9J-1HrCLFuQpM1Mmd-OrxTVQSPKZnzTh4UHfUOOFoWnGSmlGiFZbqUo1bLKRjC9z7YAlGTY794XlwUei-63lJrVsHjBOyUuBcRIchSBnIE88XdBYJd4JVkIn0aUCzJocxnCvplFWh1DyeVYSLmcSnBKnKkNgW5z28H4BPFOCgD1eiHFLmcglCZwE9kp2iYm6rRzeynr1cGWpFayK3XHru-4ZdJOJcXGXvAFvmnaEtNCjqcVDP1VQrxTId~ifo6vAzwXX~5I8KqnSEzhoQ__"
      alt=""
      srcset=""
    />
  </div>
  <div>
    <div>
      <h3>¿Qué es Python?</h3>
      <p>
        Python es un lenguaje de programación ampliamente utilizado en las
        aplicaciones web, el desarrollo de software, la ciencia de datos y el
        machine learning (ML). Los desarrolladores utilizan Python porque es
        eficiente y fácil de aprender, además de que se puede ejecutar en muchas
        plataformas diferentes. El software Python se puede descargar gratis, se
        integra bien a todos los tipos de sistemas y aumenta la velocidad del
        desarrollo.
      </p>
    </div>
    <div>
      <h3>¿Qué beneficios ofrece Python?</h3>
      <p>
        Los beneficios de Python incluyen los siguientes: Los desarrolladores
        pueden leer y comprender fácilmente los programas de Python debido a su
        sintaxis básica similar a la del inglés.  Python permite que los
        desarrolladores sean más productivos, ya que pueden escribir un programa
        de Python con menos líneas de código en comparación con muchos otros
        lenguajes. Python cuenta con una gran biblioteca estándar que contiene
        códigos reutilizables para casi cualquier tarea. De esta manera, los
        desarrolladores no tienen que escribir el código desde cero. Los
        desarrolladores pueden utilizar Python fácilmente con otros lenguajes de
        programación conocidos, como Java, C y C++. La comunidad activa de
        Python incluye millones de desarrolladores alrededor del mundo que
        prestan su apoyo. Si se presenta un problema, puede obtener soporte
        rápido de la comunidad. Hay muchos recursos útiles disponibles en
        Internet si desea aprender Python. Por ejemplo, puede encontrar con
        facilidad videos, tutoriales, documentación y guías para
        desarrolladores. Python se puede trasladar a través de diferentes
        sistemas operativos de computadora, como Windows, macOS, Linux y Unix.
      </p>
    </div>
  </div>
  <app-gallery></app-gallery>
  <app-footer />
</div>
